html {
  height: 100%;
  width: 100%;
}

body{
  background-color:  #509e33;
  margin: 0px;
  padding: 0px;
}

#navbar{
  background-color: purple;
  font-size: 2em;
  color: white;
  text-align:center;
  padding-top: 2vh;
  padding-bottom:2vh;
}

img{
  width:30vh;
  margin-left:3vh;
}

h1{
  text-align:
    center;
}

.yellow-text{
  background-color:
  lightyellow;
  padding-top: 2vh;
  padding-bottom:
    2vh;
  padding-left:2vh;
}